* {
box-sizing: border-box;
margin: 0;
}

.title {
    display: flex;
    flex-direction: flex-end;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }


  