* {
box-sizing: border-box;
margin: 0;
}

.title {
    display: flex;
    flex-direction: flex-end;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  }

.logo {
  display: flex;
  padding: 20px;
}

h3 {
  font-size: 40px;
  font-family: 'Rubik Puddles', cursive;
  color: rgb(148, 7, 173);
}


  